<% if (user) { %>
    <h3>Welcome to the Twitter clone</h3>

    <form method="post" action="/add-tweet">
        <div class="mb-3">
            <textarea class="form-control" rows="5" id="content" name="content" placeholder="What's happening"><%= data.content ? data.content : '' %></textarea>
            <% if (errors.content) { %>
                <p style="color: red;"><%= errors.content %></p>
            <% } %>
        </div>
        <button type="submit" class="btn btn-primary">Tweet</button>
    </form>
    <div class="mt-3" id="tweetList">
        <%- include('tweets/partials/_tweets') %>
    </div>

    <script>
        const ws = new WebSocket('ws://localhost:3000')

        ws.addEventListener('message', (ev) => {
            const data = JSON.parse(ev.data)

            if (data.type === 'tweetList') {
                const el = document.getElementById('tweetList')
                el.innerHTML = data.html
            }
        })
    </script>
<% } else { %>
    <div class="d-flex justify-content-center align-items-center">
        <div class="text-center">
            <h1 class="display-4 mb-4">Join today.</h1>
            <a href="/register" class="btn btn-lg btn-link">Register</a> or <a href="/login" class="btn btn-lg btn-link">Login</a>
        </div>
    </div>
<% } %>