<% if (user) { %>
    Welcome

    <form method="post" action="/add-tweet">
        <input placeholder="What's happening" name="content">
        <button type="submit">Tweet</button>
    </form>

    <div id="tweetList">
        <%- include('tweets/partials/_tweets') %>
    </div>

    <script>
        const ws = new WebSocket('ws://localhost:3000')

        ws.addEventListener('message', (ev) => {
            const data = JSON.parse(ev.data)

            if (data.type === 'tweetList') {
                const el = document.getElementById('tweetList')
                el.innerHTML = data.html
            }
        })
    </script>
<% } else { %>
    Join today. <a href="/register">Register</a>
<% } %>