Change password

<form method="post" action="/change-password">
    <input name="current_password" placeholder="Current password">
    <input name="new_password" placeholder="New password">
    <input name="password_confirmation" placeholder="Password confirmation">
    <button type="submit">Change</button>
</form>